<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_MAP_API_KEY</key>
	<string>15f699809884fac6f0315c89eba0db32</string>
	<key>KAKAO_REST_API_KEY</key>
	<string>9e8b18c55ec9d4441317124e6ecf84b6</string>
	<key>OPENWEATHER_API_KEY</key>
	<string>c3012ebad93d932ad3887a019d1ce4b3</string>
</dict>
</plist>
